<?xml version="1.0" encoding="UTF-8"?>

<!-- log4j2의 설정내용이 들어가는 메인태그 -->
<!-- Appender Logger -->
<!-- '%'가 있으면 명령-->
<Configuration>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss:SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>